<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%if(post.noDate != "true"){%>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>

    </div>
  <%}%>
  <div class="article-inner">
    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <!--显示阅读次数-->
        <% if (!index && post.comments){ %>
          <br/>
          <a class="cloud-tie-join-count" href="javascript:void(0);" style="color:gray;font-size:14px;">
            <div style="margin-top:-10px;margin-bottom:5px;left:10px;width: 140px;float: left;">
              <span class="icon-sort"></span>
              <span id="busuanzi_container_page_pv" style="color:#999999;font-size:13px;margin-left: 5px;">
              阅读数: <span id="busuanzi_value_page_pv"></span>次 &nbsp;&nbsp;
              </span>
            </div>
          </a>
        <% } %>
        <!--显示阅读次数完毕-->
        <!-- 开始添加字数统计-->
        <% if(theme.word_count && !post.no_word_count){%>
          <%- partial('post/word') %>
          <% } %>
        <!-- 添加完成 -->

      </header>
      <% if (!index){ %>
      <div class="article-info article-info-post">
        <%- partial('post/tag') %>
        <%- partial('post/category') %>
        <div class="clearfix"></div>
      </div>
      <% } %>
    <% } %>
    <div class="article-entry" itemprop="articleBody">	
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
      <% } else { %>
	  
		<% if(post.toc && post.toc !== false){ %>
			<div id="toc" class="toc-article">
			  <strong class="toc-title">文章目录</strong>
			  <%- toc(post.content) %>
			</div>
		<%}%>
		
        <%- post.content %>
      <% } %>
    </div>
    <% if (index){ %>
    <div class="article-info article-info-index">
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (post.excerpt && index){ %>
        <p class="article-more-link">
          <a <% if (!theme.excerpt_link){ %>class="hidden"<% } %> href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
        </p>
      <% } %>
      <div class="clearfix"></div>
    </div>
    <% } %>
  </div>

  <% if (!index && post.u){ %>
    <div class="info">
    <p>更新于：</p><br/>
    <p><%= post.updated.format("YYYY-MM-DD HH:mm:ss") %></p>
    </div>
  <% } %>
 

  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && theme.share){ %>
<%- partial('post/share') %>
<% } %>

<% if (!index&&theme.valine && theme.valine.appid && theme.valine.appkey &&
post.comments){ %> <section id="comments" class="article" style="padding:
20px;"> <%- partial('post/valine') %> </section> <% } %>

<style type="text/css">
  .info{
    padding: 0 0 0 40px;
    color: #999999;
    font-size: 0.9em;

  }
  @media (max-width:400px){
    .info{
      padding: 0;
      color: #999999;
     font-size: 0.9em;
      }
    }
</style>